body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(8, 65, 0), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0; /* Removendo margens padrão */
    padding: 0; /* Removendo preenchimento padrão */
}

h1 {
    text-align: center;
}

div {
    background-color: rgba(0, 0, 0, 2.8);
    border-radius: 20px;
    color: white;
    margin: 10px; /* Espaçamento externo */
    padding: 5px; /* Espaçamento interno */
    max-width: 300px; /* Limita a largura do conteúdo */
    width: 100%;
    box-sizing: border-box; /* Inclui borda e preenchimento na largura total */
}
 
h4{
    text-align: center;
}

input {
    padding: 10px; /* Reduzindo o preenchimento */
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    width: 93%;
    margin-bottom: 10px; /* Espaçamento inferior */
}

.btn {
    background-color: green;
    border: none;
    padding: 10px; /* Reduzindo o preenchimento */
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(9, 235, 58);
}

.logoLogin {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
}

/* Media query para dispositivos menores */
@media (max-width: 600px) {
    body {
        min-height: 100vh; /* Ajuste na altura mínima */
    }

    div {
        max-width: 100%; /* Largura máxima ocupando a tela */
    }

    .logoLogin {
        width: 80px; /* Redução do tamanho do logo */
        height: 80px;
    }

    input,
    .inputSubmit,
    a {
        font-size: 14px; /* Redução das fontes */
    }
}
